.menu-bar
{
	-fx-background-color: #383838;
}

.tab-header-background
{
	-fx-background-color: #303030;
}

.tab
{
	-fx-padding: 0 20 7 20;
    -fx-background-insets: 0 3 7 3;
    -fx-background-radius: 5;
    -fx-background-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

.tab:selected
{
	-fx-background-color: #0096C9;
	-fx-padding: 0 20 7 20;
	-fx-border-width: 0;
}

.tab:hover , .button:hover
{
	-fx-background-color: #0096C9;
}

.label , .tab-label , .button
{
	-fx-text-fill: #FFFFFF;
	-fx-text-overrun: clip;
}

.menu:hover
{
	-fx-background-color: #0096C9;
}

.context-menu
{
	-fx-background-color: #404040;
	-fx-translate-y: 5;
}

.menu-item:hover , .menu-item:focused , .context-menu
{
	-fx-background-radius: 5;
}

.border-pane , .button
{
	-fx-background-color: #282828;
}

.button
{
	-fx-border-color: #0096C9;
	-fx-border-width: 1;
	-fx-border-radius: 5;
	-fx-padding: 5;
}

.button:hover , .button:pressed
{
	-fx-background-radius: 5;
}

.button:pressed
{
	-fx-background-color: #008cbe;
}

.slider .track
{
	-fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box , #0096C9 , 10 , 0.5 , 0 , 0);
    -fx-background-insets: 2 , 0 , 0 , 0;
}

.slider .thumb
{
	-fx-background-color: #FFFFFF;
	-fx-effect: dropshadow(three-pass-box , #0096C9 , 10 , 0.5 , 0 , 0);
	-fx-background-insets: 1 , 0 , 0 , 0;
}
