.table-view , .table-column , .scroll-bar:vertical
{
	-fx-background-color: #282828;
}

.column-header , .table-view .filler
{
	-fx-border-color: #303030;
	-fx-background-color: #303030;
}

.anchor-pane
{
	-fx-background-color: #202020;
}