.tab-header-background
{
	-fx-background-color: #303030;
}

.tab
{
	-fx-padding: 0 20 7 20;
    -fx-background-insets: 0 3 7 3;
    -fx-background-radius: 5;
    -fx-background-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

.tab:selected
{
	-fx-background-color: #0096C9;
	-fx-padding: 0 20 7 20;
	-fx-border-width: 0;
}

.tab:hover , .button:hover
{
	-fx-background-color: #0096C9;
}

.tab-label , .button , .label , .check-box , .table-cell
{
	-fx-text-fill: #FFFFFF;
	-fx-text-overrun: clip;
}

.table-row-cell:selected .table-cell
{
	-fx-border-color: #FFFFFF;
}

.button:hover , .button:pressed
{
	-fx-background-radius: 5;
}

.button:pressed
{
	-fx-background-color: #008cbe;
}

.button
{
	-fx-border-color: #0096C9;
	-fx-border-width: 1;
	-fx-border-radius: 5;
	-fx-padding: 5;
}

.anchor-pane , .button 
{
	-fx-background-color: #202020;
}

.check-box .box
{
	-fx-background-radius: 25;
	-fx-effect: dropshadow(three-pass-box , #0096C9 , 10 , 0.5 , 0 , 0);
	-fx-background-color: #FFFFFF;
}

.scroll-bar:vertical .thumb
{
    -fx-background-color: #484848;
    -fx-background-insets: 5;
    -fx-padding: 20 , 0 , 20 , 0;
    -fx-background-radius: 35;
}

/* fucking horizontal scroll bar should be resolved */

.decrement-button , .increment-button , .scroll-bar:horizontal
{
    visibility: hidden;
    -fx-opacity: 0;
    -fx-background-color: transparent;
}

.scroll-bar:vertical
{
	-fx-background-color: transparent;
}

.table-view , .table-column
{
	-fx-background-color: #282828;
}

.column-header , .table-view .filler
{
	-fx-border-color: #303030;
	-fx-background-color: #303030;
}

